<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


</head>

<div class="row">
  <div class="col-sm-12 sol-md-10 col-lg-8 mx-auto">
    <div class="card mt-5">
      <div class="card-header">
        <h4 class="text-center">Profil du client</h4>
      </div>

      <div class="card-body">
        <form class="needs-validation" novalidate action="/profil_update" method="{{post}}">

          <h6 class="text-center mb-3">Contact</h6>

          <div class="row">
            <div class="col">
              <label for="nom_parent1">Nom:</label>
              <input value="{{{nomContact}}}" type="text" class="form-control" name="nom_contact1" placeholder="Entrer le nom du contact" {{condition}}>
              <div class="valid-feedback">Valide.</div>
              <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
            </div>
            <div class="col">
              <label for="prenom_parent1">Prénom:</label>
              <input value="{{{prenomContact}}}" type="text" class="form-control" name="prenom_contact1" placeholder="Entrer le prénom du contact" {{condition}}>
              <div class="valid-feedback">Valide.</div>
              <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="courriel_parent1">Courriel:</label>
              <input value="{{courrielContact}}" type="email" class="form-control" name="courriel_contact1" placeholder="Entrer l'adresse courriel du contact" {{condition}}>
              <div class="valid-feedback">Valide.</div>
              <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
            </div>
            <div class="col">
              <label for="prenom_parent1">Téléphone:</label>
              <input value="{{{numTelContact}}}" type="tel" class="form-control" name="num_telephone_contact1" placeholder="Entrer le numéro de téléphone du contact" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" {{condition}}>
              <div class="valid-feedback">Valide.</div>
              <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
            </div>
          </div>

          <div id=divEmail1 class="row mt-2">
            <div class="col">
              <label for="courriel_contact1">Courriel d'Extra: </label>
              <input {{#if courriel_extra1}}value="{{{courriel_extra1}}}"{{/if}} type="email" class="form-control" name="courriel_extra1" placeholder="Entrer l'adresse courriel du contact" {{conditionExtra}}>
              <input {{#if courriel_extra2}}value="{{{courriel_extra2}}}"{{/if}} type="email" class="form-control mt-2" name="courriel_extra2" placeholder="Entrer l'adresse courriel du contact" {{conditionExtra}}>
              <input {{#if courriel_extra3}}value="{{{courriel_extra3}}}"{{/if}} type="email" class="form-control mt-2" name="courriel_extra3" placeholder="Entrer l'adresse courriel du contact" {{conditionExtra}}>
            </div>
          </div>

          <hr class="mt-4">

          <h6 class="text-center mb-3"> Enfant / Adolescent </h6>

          <div class="row">
            <div class="col">
              <label for="nom_enfant">Nom:</label>
              <input value="{{{enfantNom}}}" type="text" class="form-control" name="nom_client" placeholder="Entrer le nom de famille" {{condition}}>
              <div class="valid-feedback">Valide.</div>
              <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
            </div>
            <div class="col">
              <label for="prenom_enfant">Prénom:</label>
              <input value="{{{enfantPrenom}}}" type="text" class="form-control" name="prenom_client" placeholder="Entrer le prénom" {{condition}}>
              <div class="valid-feedback">Valide.</div>
              <div class="invalid-feedback">S'il vous plait remplir le champ ci-dessus.</div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col text-center">
              <button type="submit" class="btn btn-primary center-block mt-2">{{MessageButton}}</button>
            </div>
          </div>
{{#if buttonPassword}}
          <div class="row mt-2">
            <div class="col text-center">
              <a type="button" class="btn btn-primary center-block mt-2" href="/changement_de_mot_de_passe">Modifier votre mot de passe</a>
            </div>
          </div>
{{/if}}

        </form>
      </div>
    </div>
  </div>
</div>

<script>
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
