<head>

  <link rel="stylesheet" href="../../../css/calendrierPsycho.css">
  <script type="text/javascript" src="../../../script/psychologue/calendrierPsycho.js"></script>
  <script type="text/javascript" src="../../../script/psychologue/popup.js"></script>

</head>

<div class="row">
  <div class="col-sm-12 sol-md-12 col-lg-12 mx-auto">
    <div class="card mt-5">

      <div class="card-header">
        <h4 class="text-center">Calendrier</h4>
      </div>

      <div class="card-body">

        <div class="row mb-2">
          <div class="col text-center">
            <button type="button" class="btn btn-success center-block mt-2" data-bs-toggle="modal" data-bs-target="#nouvelleDispo">Créer une Disponibilité</button>
            <a href="" type="button" class="btn btn-success center-block mt-2">Liste des Réservations</a>
          </div>
        </div>

        <div id="month" class="month">
        </div>

        <div id="calendrierPsycho">
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal" id="nouvelleDispo" tabindex="-1">
  <form class="needs-validation" novalidate action="/psychologue/reservations/nouvelleDispo" method="post">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Création d'une nouvelle disponibilité</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

          <div class="row">
            <div class="col">
              <label for="date_rv">Date du rendezvous: </label>
              <input type="date" class="form-control" name="date_rv" placeholder="aaaa-mm-jj" required>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
                <label for="hrDebut">Heure de Début:</label>
                <select class="form-select" id='hrDebut' name='hrDebut' aria-label="Default select example" required>
                  <option value="" selected disabled>Selectionnez l'heure de début</option>
                  {{#if HeureDebuts}}
                    {{#each HeureDebuts as | HeureDebut |}}
                    <option value="{{HeureDebut}}">{{HeureDebut}}</option>
                    {{/each}}
                  {{/if}}
                </select>
            </div>
            <div class="col">
                <label for="hrFin">Heure de Fin:</label>
                <select class="form-select" id='hrFin' name='hrFin' aria-label="Default select example" required>
                  <option value="" selected disabled>Selectionnez l'heure de fin</option>
                  {{#if HeureFins}}
                    {{#each HeureFins as | HeureFin |}}
                    <option value="{{HeureFin}}">{{HeureFin}}</option>
                    {{/each}}
                  {{/if}}
                </select>
            </div>
          </div>
          {{#if message}}<p style="color:red;">{{message}}</p>{{/if}}

          <div class="form-group mt-2">
            <label for="id_enfant">Nom du Client: </label>
            <select class="form-select" name='id_client' aria-label="Default select example">
              <option selected>Selectionnez le Client (Facultatif)</option>
              {{#if Clients}}
                {{#each Clients as | Client |}}
                <option value="{{Client.dataValues.id_client}}">{{Client.dataValues.id_client}}: {{Client.dataValues.prenom}} {{Client.dataValues.nom}}</option>
                {{/each}}
              {{/if}}
            </select>
          </div>

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Sauvegarder</button>
        </div>

      </div>
    </div>
  </form>
</div>

{{#if scriptModal}}
  <script>
      $(document).ready(function(){
          $("#nouvelleDispo").modal('show');
      });
  </script>
{{/if}}

<script>
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
