<div class="row">
  <div class="col-sm-12 sol-md-10 col-lg-8 mx-auto">
    <div class="card mt-5">

      <div class="card-header">
        <h4 class="text-center">Profil du Client</h4>
      </div>

      <div class="card-body" id="body">

        <form class="needs-validation" action="/clients/profil_update/{{client.dataValues.id_client}}" method="{{post}}" novalidate>

          <h6 class="text-center mb-1"> Client </h6>
          <hr class="mt-4">

          <div class="row">
            <div class="col">
              <label for="nom_client">Nom: </label>
              <input value="{{client.dataValues.nom}}" type="text" class="form-control" name="nom_client" placeholder="Entrer le nom du client" {{{condition}}}>
            </div>
            <div class="col">
              <label for="prenom_client">Prénom: </label>
              <input value="{{client.dataValues.prenom}}" type="text" class="form-control" name="prenom_client" placeholder="Entrer le nom du client" {{{condition}}}>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="permission" class="checkbox-inline">Permission: </label>
              <input type="checkbox" {{#if client.dataValues.permission}} checked {{/if}} data-toggle="toggle" name="permission" {{{condition3}}}>
            </div>
          </div>

          <hr class="mt-4">

          <h6 class="text-center mb-3">Contacts</h6>

          <hr class="mt-4">

      {{#if contacts}}
        {{#each contacts as | contact |}}

          <div class="row mt">
            <div class="col">
              <label for="nom_contact">Nom: </label>
              <input value="{{dataValues.Nom}}" type="text" class="form-control" name="nom_contact" placeholder="Entrer le nom du contact" {{../condition}}>
            </div>

            <div class="col">
              <label for="prenom_contact">Prénom: </label>
              <input value="{{dataValues.Prenom}}" type="text" class="form-control" name="prenom_contact" placeholder="Entrer le prenom du contact" {{../condition}}>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="courriel_contact">Courriel: </label>
              <input value="{{dataValues.Email}}" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" type="email" class="form-control" name="courriel_contact" placeholder="Entrer le courriel du contact" {{../condition}}>
            </div>

            <div class="col">
              <label for="telephone_contact">Téléphone: </label>
              <input value="{{dataValues.Num_Tel}}" type="text" class="form-control" name="telephone_contact" placeholder="Entrer le numéro de téléphone du contact" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" {{../condition}}>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="courriel_extra1">Courriel extra 1: </label>
              <input value="{{dataValues.Email_Extra1}}" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" type="email" class="form-control" name="courriel_extra1" placeholder="Entrer le courriel du contact" {{../condition2}}>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="courriel_extra2">Courriel extra 2: </label>
              <input value="{{dataValues.Email_Extra2}}" type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" class="form-control" name="courriel_extra2" placeholder="Entrer le courriel du contact" {{../condition2}}>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="courriel_extra3">Courriel extra 3: </label>
              <input value="{{dataValues.Email_Extra3}}" type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" class="form-control" name="courriel_extra3" placeholder="Entrer le courriel du contact" {{../condition2}}>
            </div>
          </div>

          <hr class="mt-4">
          {{/each}}
        {{else}}
        <div class="row text-center">
          <div class="col">
            <p>***Erreur Aucun Contact***</p>
          </div>
        </div>
        {{/if}}

          <div class="row mt-2">
            <div class="col text-center">
              <button type="submit" class="btn btn-success center-block mt-2">{{boutton}}</button>
              {{#if reserve}}<a type="button" href='/clients/profil/{{client.dataValues.id_client}}/reservation' class="btn btn-success center-block mt-2">Réservation</a>{{/if}}
            </div>
          </div>
        </form>

        <hr class="mt-4">

        <!--reservations-->

      </div>
    </div>
  </div>
</div>

<script>
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
