<div class="row">
  <div class="col-sm-12 sol-md-10 col-lg-8 mx-auto">
    <div class="card mt-5">

      <div class="card-header">
        <h4 class="text-center">Profil du Client</h4>
      </div>

      <div class="card-body" id="body">

        <form action="/client/profil_update" method="post">

          <h6 class="text-center mb-1"> Client </h6>
          <hr class="mt-4">

          <div class="row">
            <div class="col">
              <label for="nom_enfant">Nom: {{client.dataValues.nom}}</label>
            </div>
            <div class="col">
              <label for="prenom_enfant">Prénom: {{client.dataValues.prenom}}</label>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="Permission_enfant">Permission: {{#if client.dataValues.permission}}Oui{{else}}Non{{/if}}</label>
            </div>
          </div>

          <hr class="mt-4">

          <h6 class="text-center mb-3">Contacts</h6>

          <hr class="mt-4">

      {{#if contacts}}
        {{#each contacts as | contact |}}

          <div class="row mt">
            <div class="col">
              <label for="nom_parent1">Nom: {{dataValues.Nom}}</label>
            </div>

            <div class="col">
              <label for="prenom_parent1">Prénom: {{dataValues.Prenom}}</label>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="courriel_contact">Courriel: {{dataValues.Email}}</label>
            </div>

            <div class="col">
              <label for="prenom_contact">Téléphone: {{dataValues.Num_Tel}}</label>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="courriel_extra1">Courriel extra 1: {{dataValues.Email_Extra1}}</label>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="courriel_extra2">Courriel extra 2: {{dataValues.Email_Extra2}}</label>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <label for="courriel_extra3">Courriel extra 3: {{dataValues.Email_Extra3}}</label>
            </div>
          </div>

          <hr class="mt-4">
          {{/each}}
        {{else}}
        <div class="row text-center">
          <div class="col">
            <p>***Erreur Aucun Contact***</p>
          </div>
        </div>
        {{/if}}

          <div class="row mt-2">
            <div class="col text-center">
              <button type="submit" class="btn btn-success center-block mt-2">Modifier</button>
            </div>
          </div>
        </form>

        <hr class="mt-4">

        <!--reservations-->

      </div>
    </div>
  </div>
</div>
